body{
    background-size: cover;
}

.heading{
    width: 100%;
    font-size: 25px;
    margin: 0px;
}

#start,#status,#number_of_objects{
    font-size: 20px;
}

.footer_div{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 3;
}

canvas{
    border: white 3px solid;
    border-radius: 20px;
    box-shadow: 5px 5px 20px white;
}

#starts{
  background-color: azure;
  width: 20%;
}